<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="_fragments :: head(~{::title})">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>博客</title>
  <link rel="shortcut icon" href="../static/images/favicon.ico" th:href="@{/images/favicon.ico}" type="image/x-icon">
  <link rel="stylesheet" href="../static/lib/semantic/semantic.min.css" th:href="@{/lib/semantic/semantic.min.css}">
  <link rel="stylesheet" href="../static/css/mine.css" th:href="@{/css/mine.css}">
</head>
<body class="index_bg">

  <!--导航-->
  <nav id="nav" class="gird-header" style="display: none">
    <div class="ui container">
      <div class="ui inverted secondary stackable menu">
        <!--stackable可堆叠，响应移动端-->
        <h2 class="ui teal header item" style="font-family: STSong">HYY</h2>
        <a href="#" th:href="@{/}" class="m-item item m-mobile-hide active"><i class="home icon"></i>首页</a>
        <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide"><i class="idea icon"></i>分类</a>
        <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide"><i class="tags icon"></i>标签</a>
        <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide"><i class="hourglass half icon"></i>归档</a>
        <a href="#" th:href="@{/music}" class="m-item item m-mobile-hide"><i class="music icon"></i>音乐</a>
        <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide"><i class="info icon"></i>关于我</a>
        <div class="right m-item item m-mobile-hide">
          <form name="search" action="#" th:action="@{/search}" method="get" target="_blank">
            <div class="ui icon inverted transparent input m-margin-tb-tiny">
              <input type="text" name="query" placeholder="Search...." th:value="${query}">
              <i onclick="document.forms['search'].submit()" class="search link icon"></i>
            </div>
          </form>
        </div>
        <a href="#" th:href="@{/admin}" class="right m-item item ui secondary basic button m-mobile-hide" target="_blank"><i class="sign in icon"></i>登录</a>
      </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
      <i class="sidebar icon"></i>
    </a>
  </nav>

  <!--顶部图片-->
  <div class="m-bg-class_outer" style="width: 100%;height: 100%" >
    <img src="../static/images/all.jpg" th:src="@{/images/all.jpg}" alt="" class="ui m-bg image" style="width: 100%;height: 100%">
    <div class="m-bg-class_cover" align="center" style="height: 100%" >
      <div class="m-margin-top-large" align="center">
        <a href="#" th:href="@{/about}">
          <img class="ui circular image" align="center" src="../static/images/avatar.jpg" th:src="@{/images/avatar.jpg}" style="width: 150px;height: 150px">
        </a>
      </div>
      <div class="m-font-size-text m-padded-tb-large">
        <!--打印文字效果-->
        <span id="typed"></span>
      </div>


      <hr style="width: 40%">

      <div id="waypoint" class="ui m-padded-tb-large" align="center">
        <a href="#" th:href="@{/}" class="ui circular icon button m-opacity-small item  m-index-btn"><i class="home icon"></i>首页</a>
        <a href="#" th:href="@{/types/-1}" class="ui circular icon button m-opacity-small item  m-index-btn"><i class="idea icon"></i>分类</a>
        <a href="#" th:href="@{/tags/-1}" class="ui circular icon button m-opacity-small item  m-index-btn"><i class="tags icon"></i>标签</a>
        <a href="#" th:href="@{/archives}" class="ui circular icon button m-opacity-small item  m-index-btn"><i class="hourglass half icon"></i>归档</a>
        <a href="#" th:href="@{/music}" class="ui circular icon button m-opacity-small item  m-index-btn"><i class="music icon"></i>音乐</a>
        <a href="#" th:href="@{/about}" class="ui circular icon button m-opacity-small item  m-index-btn"><i class="info icon"></i>关于我</a>
      </div>
      <hr style="width: 40%">
      <hr style="width: 40%">
      <p class="m-font-size-text-init-title m-margin-top-large m-mobile-hide">“低级的欲望放纵即可获得”</p>
      <p class="m-font-size-text-init-title m-margin-top-large m-mobile-hide">“而高级的欲望只有克制才能达成”</p>
    </div>
  </div>

  <!--中间内容-->
  <div class="m-container m-padded-tb-big animated fadeIn">
    <div class="ui container">
      <div class="ui stackable grid">
        <!--左边博客列表-->
        <div class="eleven wide column">
          <!--header-->
          <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <h3 class="ui teal header">博客</h3>
              </div>
              <div class="right aligned column">
                共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}"> 14 </h2> 篇
              </div>
            </div>
          </div>

          <!--content-->
          <div class="ui attached  segment">

            <div class="ui padded vertical segment m-padded-tb-large" th:each="blog : ${pageInfo.list}">
              <div class="ui middle aligned mobile reversed stackable grid" >
                <div class="eleven wide column">
                  <h3 class="ui header" ><a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black" th:text="${blog.title}">你真的理解什么是财富自由吗?</a></h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin" th:each="tag : ${blog.tags}" th:text="${tag.name}">方法论</a>
                    </div>
                  </div>
                  <p class="m-text" th:text="|${blog.description}......|">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" th:src="@{${blog.user.avatar}}"  alt="" class="ui avatar image">
                          <div class="content"><a href="#" th:href="@{/about}" class="header" th:text="${blog.user.nickname}" >HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i><span th:text="${#dates.format(blog.updateTime,'yyyy-MM-dd')}">2017-10-01</span>
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> <span th:text="${blog.views}">2342</span>
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" th:href="@{/types/{id}(id=${blog.type.id})}" target="_blank" class="ui green basic label m-padded-tiny m-text-thin" th:text="${blog.type.name}">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank">
                    <img src="../static/images/all.jpg" th:src="@{${blog.firstPicture}}"  alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <!--/*-->
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg" alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <div class="ui padded vertical segment m-padded-tb-large">
              <div class="ui mobile reversed stackable grid">
                <div class="eleven wide column">
                  <h3 class="ui header">你真的理解什么是财富自由吗？</h3>
                  <div class="row">
                    <div class="column">
                      <a href="#" target="_blank" class="ui pink basic left pointing label m-padded-mini m-text-thin">方法论</a>
                    </div>
                  </div>
                  <p class="m-text">正确做好任何一件事情的前提是清晰、正确的理解目标。而事实是，我们很多人很多时候根本没有对目标正确的定义，甚至根本从来就没有想过，只是大家都那么做而已…...</p>
                  <div class="ui grid">
                    <div class="eleven wide column">
                      <div class="ui mini horizontal link list">
                        <div class="item">
                          <img src="../static/images/avatar.jpg" alt="" class="ui avatar image">
                          <div class="content"><a href="#" class="header">HYY</a></div>
                        </div>
                        <div class="item">
                          <i class="calendar icon"></i> 2017-10-01
                        </div>
                        <div class="item">
                          <i class="eye icon"></i> 2342
                        </div>
                      </div>
                    </div>
                    <div class="right aligned five wide column">
                      <a href="#" target="_blank" class="ui green basic label m-padded-tiny m-text-thin">认知升级</a>
                    </div>
                  </div>
                </div>

                <div class="five wide column">
                  <a href="#" target="_blank">
                    <img src="../static/images/all.jpg"  alt="" class="ui rounded image">
                  </a>
                </div>

              </div>
            </div>
            <!--*/-->
          </div>

          <!--footer-->
          <div class="ui bottom attached segment" th:if="${pageInfo.pages}>1">
            <div class="ui middle aligned two column grid">
              <div class="column">
                <a href="#" th:href="@{/(pageNum=${pageInfo.pageNum}-1)}"  th:unless="${pageInfo.isFirstPage}" class="ui mini teal basic button">上一页</a>
              </div>
              <div class="right aligned column">
                <a href="#" th:href="@{/(pageNum=${pageInfo.pageNum}+1)}"  th:unless="${pageInfo.isLastPage}" class="ui mini teal basic button">下一页</a>
              </div>
            </div>
          </div>

        </div>

        <!--右边的top-->
        <div class="five wide column">

          <!--分类-->
          <div class="ui segments">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="green idea icon"></i>分类
                </div>
                <div class="right aligned column">
                  <a href="#" th:href="@{types/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui green segment">
              <div class="ui fluid vertical menu" >
                <a href="#" th:href="@{/types/{id}(id=${type.id})}" target="_blank" class="item"  th:each="type : ${types}">
                  <span th:text="${type.name}">学习日志</span>
                  <div class="ui green basic left pointing label" th:text="${type.count}">13</div>
                </a>
                <!--/*-->
                <a href="#" class="item">
                  思考与感悟
                  <div class="ui green basic left pointing label">13</div>
                </a>
                <a href="#" class="item">
                  学习日志
                  <div class="ui green basic left pointing label">13</div>
                </a>
                <a href="#" class="item">
                  学习日志
                  <div class="ui green basic left pointing label">13</div>
                </a>
                <a href="#" class="item">
                  学习日志
                  <div class="ui green basic left pointing label">13</div>
                </a>
                <a href="#" class="item">
                  学习日志
                  <div class="ui green basic left pointing label">13</div>
                </a>
                <!--*/-->
              </div>
            </div>
          </div>

          <!--标签-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment">
              <div class="ui two column grid">
                <div class="column">
                  <i class="pink tags icon"></i>标签
                </div>
                <div class="right aligned column">
                  <a href="#" th:href="@{tags/-1}" target="_blank">more <i class="angle double right icon"></i></a>
                </div>
              </div>
            </div>
            <div class="ui pink segment">
              <a href="#" th:href="@{/tags/{id}(id=${tag.id})}" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny" th:each="tag : ${tags}">
                <span th:text="${tag.name}">方法论</span> <div class="detail" th:text="${tag.count}">23</div>
              </a>
              <!--/*-->
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <a href="#" target="_blank" class="ui pink basic left pointing label m-margin-tb-tiny">
                方法论 <div class="detail">23</div>
              </a>
              <!--*/-->
            </div>
          </div>

          <!--点击热榜-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment ">
              <i class="orange eye icon"></i>点击热榜
            </div>
            <div class="ui segment" th:each="blog : ${hostBlogs}">
              <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事（User Story）</a>
            </div>
            <!--/*-->
            <div class="ui segment" >
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <!--*/-->
          </div>

          <!--最新推荐-->
          <div class="ui segments m-margin-top-large">
            <div class="ui secondary segment ">
              <i class="blue bookmark icon"></i>最新推荐
            </div>
            <div class="ui segment" th:each="blog : ${recommendBlogs}">
              <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="m-black m-text-thin" th:text="${blog.title}">用户故事（User Story）</a>
            </div>
            <!--/*-->
            <div class="ui segment" >
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <div class="ui segment">
              <a href="#" target="_blank" class="m-black m-text-thin">用户故事（User Story）</a>
            </div>
            <!--*/-->
          </div>

          <!--二维码-->
          <h4 class="ui horizontal divider header m-margin-top-large" style="color: #ffffff">扫码加好友</h4>
          <div class="ui centered card" style="width: 11em">
            <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}" alt="" class="ui rounded image" >
          </div>
        </div>

      </div>
    </div>

  </div>

  <br>
  <br>
  <!--底部footer-->
  <footer th:fragment="footer" class="ui inverted vertical segment m-padded-tb footer">
    <div class="ui center aligned container">
      <div class="ui inverted divided stackable grid">
        <div class="four wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">微信</h4>
          <div class="ui inverted link list">
            <div class="item">
              <img src="../static/images/wechat.jpg" th:src="@{/images/wechat.jpg}"  class="ui rounded image" alt="" style="width: 110px">
            </div>
          </div>
        </div>
        <div class="four wide column" >
          <h4 class="ui inverted header m-text-thin m-text-spaced" >最新博客</h4>
          <div class="ui inverted link list">
            <a href="#" th:href="@{/blog/{id}(id=${blog.id})}" target="_blank" class="item m-text-thin m-padded-tb-small" th:each="blog : ${newBlogs}" th:text="${blog.title}">用户故事（User Story）</a>
            <!--/*-->
            <a href="#" class="item m-text-thin m-padded-tb-small">用户故事（User Story）</a>
            <a href="#" class="item m-text-thin m-padded-tb-small">用户故事（User Story）</a>
            <!--*/-->
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">联系我</h4>
          <div class="ui inverted link list">
            <div class="item m-text-thin m-padded-tb" th:text="#{index.qq}">QQ：1299694047</div>
            <div class="item m-text-thin m-padded-tb" th:text="#{index.email}">1299694047@qq.com</div>
          </div>
        </div>
        <div class="four wide column">
          <h4 class="ui inverted header m-text-thin m-text-spaced">博客统计信息</h4>
          <div class="m-text-thin m-padded-tb-tiny" style="text-align: left;margin-left: 75px;">
            博客总数： <h2 class="ui teal header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${blogsCount}"> 14 </h2> 篇
          </div>
          <div class="m-text-thin m-padded-tb-tiny" style="text-align: left;margin-left: 75px">
            访问总数： <h2 class="ui teal header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${viewsCount}"> 14 </h2> 次
          </div>
          <div class="m-text-thin m-padded-tb-tiny" style="text-align: left;margin-left: 75px">
            评论总数： <h2 class="ui teal header m-inline-block m-margin-top-null" style="font-size:medium;" th:text="${commentsCount}"> 14 </h2> 条
          </div>
        </div>
      </div>
      <div class="ui inverted section divider"></div>
      <div class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2023 - <span th:text="${#dates.year(#dates.createNow())}">2023</span> HYY</div>
      <div style="color: #F08047" class="m-text-thin m-text-spaced m-opacity-tiny m-padded-tb-small">我的博客已安全运行：<span id="htmer_time" class="item m-text-thin"></span> (*๓´╰╯`๓)</div>
      <a rel="nofollow" href="#" target="_blank">粤ICP备2022122083号-1</a>
    </div>
  </footer>
  <!--/*/<th:block th:replace="_fragments :: script">/*/-->
  <script src="../static/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
  <script src="../static/lib/semantic/semantic.min.js" th:src="@{/lib/semantic/semantic.min.js}"></script>
  <script src="../static/lib/waypoints/jquery.waypoints.min.js" th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
  <script src="../static/lib/typed/dist/typed.umd.js" th:src="@{/lib/typed/dist/typed.umd.js}"></script>
  <!--/*/</th:block>/*/-->

  <script>
    $('.menu.toggle').click(function () {
      $('.m-item').toggleClass('m-mobile-hide');
    });

    var typed = new Typed('#typed', {
        strings: ['Hello World','欢迎来到HYY的博客小站'],
        //打印的速度。单位ms
        typeSpeed: 150,
        //设置循环，为真，开启循环
        loop: true,
        //打印前的延迟时间
        startDelay: 0,
        //打印后的延迟时间
        backDelay: 2000,
        //返回的速度
        backSpeed: 30
    });

    // 导航栏显示
    var waypoint = new Waypoint({
        element: document.getElementById('waypoint'),
        handler: function(direction) {
            if (direction == 'down') {
                $('#nav').show(500);
            } else {
                $('#nav').hide(500);
            }
        }
    })
  </script>
</body>
</html>