<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hyy.mapper.TypeMapper">
    <!--前端分类列-->
    <resultMap id="type" type="Type">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="count" column="count"/>
    </resultMap>
    <select id="getBlogsType" resultMap="type">
        select t.id, t.name, count(b.id) as count
        from t_type as t, t_blog as b
        where t.id = b.type_id and b.published = 1
        group by t.id
        order by count desc
    </select>
</mapper>